{{page-title 'StatechartActors'}}

<nav class='h-12 shadow-sm'>
  <div class='container mx-auto h-full flex items-center'>
    <LinkTo @route='index'>Home</LinkTo>
  </div>
</nav>
<div class='container mx-auto py-2'>
  {{outlet}}
</div>