{{page-title 'StatechartActors'}}

<nav class='h-12 shadow-sm'>
  <div class='container mx-auto h-full flex items-center justify-between'>
    <LinkTo @route='index'>Home</LinkTo>
    <div>
      <Providers::Posts as |provider|>
        <span>Loading posts: {{provider.data.loadingPosts.length}}</span>
      </Providers::Posts>
    </div>
  </div>
</nav>
<div class='container mx-auto py-2'>
  {{outlet}}
</div>